.content{
    width: 50%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #1f1f1f solid 1px;
}

.title{
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #1f1f1f;
    color: white;
}

.image{
    width: 50%;
}

.image img{
    width: 100%;
}

.informations{
    width: 100%;
}

.informations .title{
    width: 100%;
    color: white;
    background-color: #1f1f1f;
}

.informations .type, .informations .rarity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: #1f1f1f solid 1px;
    padding: 10px;
}

.informations .type img{
    width: 50px;
}

.informations .type span,.informations .rarity span{
    padding: 10px;
}

.attack{
    width: 100%;
}

.attack-group{
    display: flex;
    width: 100%;
}

.attack-display,.attack-raw{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.attack-display span,.attack-raw span{
    padding: 10px;
}

.attack-display{
    border-right: #1f1f1f solid 1px;
}

@media screen and (max-width:900px) {
    .content{
        width: 95%;
    }
}